// Mobile
$mobile: 576px;

// Tablet
$tablet: 768px;

// Tablet - Landscape
$tablet-landscape: 1024px;

// Laptop/Desktop
$desktop: 1200px;

// Large Desktop
$desktop-lg: 1400px;

// Small gallery
$gallery-sm: 660px;