$color-main: #f5f6f0;
$color-second:#c3c2b2;
$color-third:#efe6d5;

// additonal colors
$color-font:#bb9c87;
$color-font-two:#8a6044;
$color-fifth:#f0eade;
$color-sixth:#e6e0d0;
$colo-seventh:#f5f6f0;
$color-eighth:#c7bead;
$color-tenth:#ffffffee;
$color-eleventh:#998273;

// shadows
$shadow-light:#050505e3;
$shadow-light-lo:#2522228e;